<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bwie.myapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".application.JunApplication"
        android:allowBackup="true"
        android:icon="@mipmap/jd_buy_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoTheme">
        <activity android:name=".view.acitvity.LogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.acitvity.MainActivity"/>
        <activity android:name=".view.acitvity.CustomCaptrueActivity" />
        <activity android:name=".view.acitvity.WebViewActivity" />
        <activity android:name=".view.acitvity.DetailActivity" />
        <activity android:name=".view.acitvity.ImageScaleActivity" />
        <activity android:name=".view.acitvity.SuoSouActivity" />
        <activity android:name=".view.acitvity.CartActivity" />
        <activity android:name=".view.acitvity.LoginActivity" />
        <activity android:name=".view.acitvity.RegistActivity" />
        <activity android:name=".view.acitvity.MakeSureOrderActivity" />
        <activity android:name=".view.acitvity.UserSettingActivity" />
        <activity android:name=".view.acitvity.UserInfoActivity" />
        <activity android:name=".view.acitvity.OrderListActivity" />
        <activity android:name=".view.acitvity.ManageAddrActivity" />
        <activity android:name=".view.acitvity.AddNewAddrAcitvity" />
        <activity android:name=".view.acitvity.ChooseDistinctActivity" />
        <activity android:name=".view.acitvity.ChooseAddrActivity" />
        <activity android:name=".view.acitvity.ProductListActivity"></activity>
        <!-- 新浪 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信 -->
        <activity
            android:name=".view.acitvity.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- qq -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a73de3eb27b0a195c000065" />
    </application>

</manifest>